body {
    font: 20px Monaco, sans-serif;
    line-height: 1.8;
    color: slateblue;

    /* it was Montserrat so can be changed back in necessary -- ALSO ASK WHY THE COLOUR ISN'T CHANGING*/
    
  }

p {font-size: 16px;}
.margin {margin-bottom: 15px;}

.container-fluid {
  padding: 0px;
  /*padding-bottom: 70px;*/
}

.navbar {
  padding-top: 0px;
  color: 111;
}